:root {
    --Navy-Color: #19283F;
    --Red-Color: #FF3150;
    --Yellow-Color: #FFC501;
    --White-Color:#FFFFFF;
    --Green-Color: #00C7C0;
    --Light-Green-Color: #F0F8FB;
}
body {
    font-family: "Roboto", sans-serif;
}
/*Start Components*/
/*Button*/
.main-btn {
    background-color: var(--Red-Color)!important;
    color: var(--Yellow-Color)!important;
}
.main-btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}
/*heading*/
.heading::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 2px;
    background-color: var(--Green-Color);
    bottom: -24px;
    left: 50%;
    transform: translateX(-50%);

}
/*End Components*/

/* Start Navbar*/
.navbar {
    background-color: var(--Navy-Color);
}
.navbar button[class*="navbar-toggler"] {
    border-color: var(--White-Color);
    font-size: 25px;
}
.navbar button[class*="navbar-toggler"]:focus {
    box-shadow: none;
}
.navbar button[aria-expanded="true"] {
    border-color: var(--Green-Color);
}
.navbar button[aria-expanded="true"] + div[class*="collapse"] > .search {
    display: none;
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active,
.navbar .search > svg{
    color: var(--Green-Color)!important;
}
.navbar .search {
    border-color: var(--Green-Color)!important;
}
/*End Navbar*/

/*Start Landing*/
.landing {
    background-color: var(--Navy-Color);
    height: calc(100vh - 72px);
}
/*End Landing*/

/*Start Services*/
.services .card .icon-holder {
    height: 200px;
}
.services .card svg {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.services .card svg[class*="number"] {
    font-size: 12rem;
    color: var(--Light-Green-Color);
}
.services .card svg[class*="icon"] {
    font-size: 4rem;
    color: var(--Green-Color);
}
.services .card h4 {
    color: var(--Yellow-Color);
}
/*End Services*/

/*Start Portfolio*/
.portfolio {
    background-color: var(--Light-Green-Color);
}
.portfolio .nav .nav-link.active {
    background-color: var(--Red-Color);
    color: var(--Yellow-Color)!important;
}
.portfolio .nav .nav-link:not([class*="active"]):hover {
    color: var(--Red-Color)!important;
}
.portfolio .card {
    padding: 5px;
    overflow: hidden;
}
.portfolio .card:hover > .card-img-overlay{
    transform: translate(5px , -50%);
}
.portfolio .card .card-img-overlay {
    background-color: rgba(0, 199, 192, 0.7);
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    left: 0;
    top: 50%;
    transform: translate(-100%, -50%);
    transition: 0.3s;
}
/*End Portfolio*/

/*Start About*/
.about .description{
    max-width: 500px;
}
.about .image > img {
    max-width: 100%;
}
/*End About*/

/*Start Team*/
.team {
    background-color: var(--Light-Green-Color);
}
.team .header h2 {
    color: var(--Yellow-Color);
}
.team  .card h4 {
    background-color: var(--Green-Color);
}
/*End Team*/

/*Start Project*/
.project {
    background-color: var(--Navy-Color);
}
/*End Project*/

/*Start Subscribe*/
.subscribe {
    background-color: var(--Yellow-Color);
}
.subscribe input[type="text"]::placeholder {
    color: white;
}
.subscribe input[type="text"]:focus {
    outline: none!important;
}
.subscribe .main-btn {
    background-color: var(--Navy-Color)!important;
}
/*End Subscribe*/
